%div
  - if @posts.any?
    - @posts.each do |post|
      .panel.panel-default
        .panel-heading
          %h4= link_to post.title, post
          %span.label.label-default.margin-right-10px= post.user.display_name if post.user
          %span.post-datetime= parse_time_for_post(post.updated_at, post.user.preferred_timezone)
        .panel-body.post-index-panel
          - if post.image?
            %center= image_tag post.image.url, class: 'img-responsive'
          %br
          %div{style: "overflow: auto"}
            ~ markdown(post.content)
        .panel-footer
          = link_to 'View Post', post, class: 'btn btn-primary margin-right-10px'
          - if can? :access, post
            = link_to 'Edit', edit_post_path(post), class: 'btn btn-info margin-right-10px'
            = link_to 'Delete', post, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger margin-right-10px'
    .panel.panel-default
      %center= paginate @posts
  - else
    %center
      %h1 No posts yet..
