.container
  .row
    .col-xs-12.col-sm-10.col-sm-offset-1
      .col-xs-12
        %h1= @post.title
      .col-xs-12.col-sm-8
        - if @post.image?
          %center= image_tag @post.image.url, class: 'img-responsive'
        %div~ markdown(@post.content)
        = link_to 'Back', posts_path, class: 'btn btn-default'

      .col-xs-12.col-sm-4
        .panel.panel-default
          .panel-heading Post Options
          .panel-body
            - if can? :access, @post
              = link_to 'Edit', edit_post_path(@post), class: 'btn btn-info'
              = link_to 'Delete', @post, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger'
              - unless @post.posted?
                %br= link_to 'Post Now', post_path(@post, post: { post_status: "posted" }), method: :put, class: 'btn btn-warning'
              %hr
                %h5 Publish Post Later

                = simple_form_for @post do |f|
                  = f.error_notification
                  .datetimepicker
                    = f.input :posted_date, as: :datetime_picker, input_html: { data: { date_options: { defaultDate: '12/25/2016'} } }
                  = f.hidden_field :post_status, value: "post_later"
                  %hr
                  .actions
                    = f.button :submit, class: 'btn btn-success'
