.container
  .row
    .col-xs-12.col-sm-10.col-sm-offset-1


      .col-xs-12.col-sm-8
        .panel.panel-default
          .panel-heading
            %h2= @post.title
            %span.label.label-default= @post.user.display_name if @post.user
          .panel-body
            - if @post.image?
              %center= image_tag @post.image.url, class: 'img-responsive'
            %br
            %div~ markdown(@post.content)
        .hidden-xs= link_to 'Back', posts_path, class: 'btn btn-default'

    - if can? :access, @post
      .col-xs-12.col-sm-4
        .panel.panel-default
          .panel-heading
            %b Post Options
          .panel-body
            - if can? :access, @post
              = link_to 'Edit', edit_post_path(@post), class: 'btn btn-info'
              = link_to 'Delete', @post, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger'
              - if @post.draft?
                %br= link_to 'Post Now', post_path(@post, post: { post_status: "posted" }), method: :put, class: 'btn btn-warning'
                %hr
                  %h5 Publish Post Later
                  = simple_form_for @post do |f|
                    = f.error_notification
                    = f.input :posted_date, as: :string
                    = f.hidden_field :post_status, value: "post_later"
                    %hr
                    .actions
                      = f.button :submit, class: 'btn btn-success'
              %hr
                - if @post.post_later?
                  Post is scheduled to post on #{@post.posted_date.strftime("%m/%d/%Y at %H:%M") }
                - if @post.posted?
                  Posted #{@post.updated_at.strftime("%m/%d/%Y at %H:%M") }
        .visible-xs= link_to 'Back', posts_path, class: 'btn btn-default'
