.container
  .row
    .col-xs-12.col-sm-10.col-sm-offset-1
      .col-xs-12.col-sm-8
        .panel.panel-default
          .panel-heading
            %h2= @post.title
            %span.label.label-default.margin-right-10px= @post.user.display_name if @post.user
            %span.label.label-default.margin-right-10px= parse_time_for_post(@post.updated_at, @post.user.preferred_timezone)

          .panel-body
            - if @post.image?
              %center= image_tag @post.image.url, class: 'img-responsive'
            %br
            %div~ markdown(@post.content)
        .hidden-xs= link_to 'Back', posts_path, class: 'btn btn-default'

      - if can? :access, @post
        .col-xs-12.col-sm-4
          .panel.panel-default
            .panel-heading
              %b Post Options
            .panel-body
              - if can? :access, @post
                = link_to 'Edit', edit_post_path(@post), class: 'btn btn-info margin-right-10px'
                = link_to 'Delete', @post, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger margin-right-10px'
                - if @post.draft?
                  %br= link_to 'Post Now', post_path(@post, post: { post_status: "posted", posted_at: Time.zone.now }), method: :put, class: 'btn btn-warning margin-right-10px'
                  %hr
                    %h5 Publish Post Later
                    = simple_form_for @post do |f|
                      = f.error_notification
                      %p Format Example - Jan 1, 2017 12:34
                      = f.input :posted_at, as: :string
                      = f.hidden_field :post_status, value: "post_later"
                      %hr
                      .actions
                        = f.button :submit, class: 'btn btn-success'
                %hr
                  - if @post.post_later?
                    Post is scheduled to post on #{@post.posted_at.strftime("%m/%d/%Y at %H:%M") }
                  - if @post.posted?
                    Posted #{@post.updated_at.strftime("%m/%d/%Y at %H:%M") }
          .visible-xs= link_to 'Back', posts_path, class: 'btn btn-default'

      .col-xs-12.col-md-8
        .panel.panel-default
          .panel-body
            %h3
              Comments
              %span.badge= @post.comments.count
            .panel.panel-default
              .panel-body
                = simple_form_for [@post, @comment] do |f|
                  = f.error_notification
                  = f.hidden_field :post_id, value: @post.id
                  = f.input :content, as: :text
                  .actions
                    = f.button :submit, class: 'btn btn-success'
            - if @comments.any?
              - @comments.each do |comment|
                .panel.panel-default
                  .panel-body
                    %em=comment.content
